
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{ 
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(123.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 200px;
  cursor: pointer;
  

}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li ::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li :hover:after{
  width: 100%;
}
.content{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.content{
  color: white;
  font-size: large;
}
.button{
  
  position: absolute;
  top: 28%; 
  transform: translate(170%);
}
.button{
  color: white;
  font-size: large;
}
.click{
  
  position: absolute;
  top: 60%;
  transform: translate(170%);
}
.click{
  color: white;
  font-size: large;
}
.a{
  color: white;
  font-size: large;
}
.a{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.b{
  color: white;
  font-size: large;
}
.b{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.c{
  color: white;
  font-size: large;
}
.c{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
}
.d{
  color: white;
  font-size: large;
}
.d{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.e{
  color: white;
  font-size: large;
}
.e{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.X{
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.X{
  color: white;
  font-size: large;
}

  
  
